/*
 * MARK: Controls
 */

.button {
    display: inline-block;
    padding: 0 1.25em;
    height: 2em;
    line-height: 2em;
    color: #000000;
    background: hsl(0, 0%, 92%);
    border: none;
    border-radius: calc(1rem / 4);
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(1rem / 4)
}

.button:hover::before {
    background: rgba(255, 255, 255, .12);
}

.button:active::before {
    background: rgba(0, 0, 0, .12);
    box-shadow: 0 .2em 0 rgba(0, 0, 0, 0.3) inset;
}

.button.micro { font-size: 0.7rem; }
.button.tiny { font-size: 0.8rem; }
.button.small { font-size: 0.9rem; }
.button.standard { font-size: 1rem; }
.button.large { font-size: 1.2rem; }
.button.huge { font-size: 1.4rem; }

.button.rounded { border-radius: 1em; }
.button.rounded::before { border-radius: 1em; }

.button.ghost:not(:hover, :active) { color: #8493a8; }
.button.ghost:not(:hover, :active) { background: transparent; }
.button.ghost::before { border: 1px solid #cad3df; }
.button.ghost:hover::before,
.button.ghost:active::before { border-width: 0; }

/* Background Colors */
.button.yellow, .button.purple { color: #ffffff; }
.button.yellow { background: #E6C019; }
.button.purple { background: #9933CC; }

/* Text Colors */
.button.ghost:not(:hover, :active).yellow { color: #E6C019; }
.button.ghost:not(:hover, :active).purple { color: #9933CC; }

/* Border Colors */
.button.ghost.yellow::before { border-color: #E6C019; }
.button.ghost.purple::before { border-color: #9933CC; }
