html {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

html, body, div, article, section, main, nav, aside, blockquote,
hgroup, h1, h2, h3, h4, h5, h6, p, ul, ol, table, span, a, img {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-weight: 300;
    line-height: 1.5em;
    color: #333333;
}

svg {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.75rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.2rem; }

a {
    text-decoration: none;
    color: inherit;
}

.space {
    flex: 1;
}

/*
 * MARK: Panels
 */

.panel {
    min-height: 100vh;
}

.panel hgroup {
    text-align: center;
    padding: 3rem 1rem;
}

.panel hgroup h1 {
    font-size: 5rem;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    height: 3em;
    font-size: 1.5rem;
    background: #ffffff;
    box-shadow: 0 0 2rem rgba(0,0,0,0.1);
}

#header #logo {
    height: 75%;
    margin: 0 1em;
}

#header nav {
    font-size: 1.2rem;
}

#header nav a {
    margin-left: 1em;
}

#landing {
    text-shadow: 0 0 20px black;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: url('../img/office.jpg') no-repeat center center;
    background-size: cover;
}

#landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(-15deg, #5C1F7A, #000000);
    opacity: 0.8;
}

#landing h1 {
    margin: 11rem 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 6rem;
    font-weight: 100;
    line-height: 1em;
    color: #ffffff;
}

#landing .typed {
    font-weight: 400;
}

#landing .continue {
    position: absolute;
    left: 50%;
    bottom: 4rem;
    width: 4rem;
    height: 4rem;
    margin-left: -2rem;
    display: block;
    fill: #ffffff;
    opacity: .4;
    transition: .5s;
}

#landing .continue:hover {
    opacity: .8;
}

.typed-cursor {
    display: inline-block;
    width: 0;
    overflow: visible;
    left: -10px;
    color: #9933cc;
    font-size: 1.1em;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#curriculum {
    background: hsl(0, 0%, 95%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#curriculum main {
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    margin-bottom: 4rem;
}

#curriculum section {
    flex: 1 24%;
    width: 200px;
    margin: 2px;
    padding: 4rem 2rem 3rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: hsl(0, 0%, 97%);
    text-align: center;
    transition: .2s;
}

#curriculum section .icon {
    fill: hsl(280, 60%, 20%);
    height: 4rem;
    width: 100%;
    transition: .2s;
}

#curriculum section:hover {
    z-index: 1;
    background: #ffffff;
    border-color: #ffffff;
    transform: scale(1.01);
}
#curriculum section:hover .icon {
    fill: hsl(280, 60%, 40%);
}

#curriculum section h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    margin: 2rem 0 0.8rem;
}

#schedule {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: hsl(280, 40%, 30%);
}

#schedule hgroup h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 5rem;
}

#schedule hgroup h1 em {
    display: block;
    font-size: 8.42rem;
    font-style: normal;
}

.timeline {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 0 4rem;
    padding: 0 1rem;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: .5rem;
    margin-left: -.25rem;
    background: url('../img/timeline-dot.svg');
    background-size: .5rem 1rem;
}

.timeline .event {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0 .5rem rgba(0, 0, 0, 0.4);
}

.timeline .event.interval-1h { margin-top: -3rem; }
.timeline .event.interval-2h { margin-top: 0; }
.timeline .event.interval-3h { margin-top: 3rem; }
.timeline .event.interval-4h { margin-top: 6rem; }
.timeline .event.interval-5h { margin-top: 9rem; }
.timeline .event.interval-6h { margin-top: 12rem; }
.timeline .event.interval-7h { margin-top: 15rem; }
.timeline .event.interval-8h { margin-top: 18rem; }
.timeline .event:first-child { margin-top: 1rem; }
.timeline .event:last-child { margin-bottom: 1rem; }

.timeline .event::before, .timeline .event::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
}
.timeline .event::before { margin-top: -.4rem; }
.timeline .event::after { margin-top: -1rem; }

.timeline .event h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.timeline .event main {
    padding: 0.5rem 1rem;
}

.timeline .event aside {
    padding: 0.25rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: hsl(50, 80%, 60%);
    color: #ffffff;
    fill: #ffffff;
}

.timeline .event time {
    margin-top: 0.25rem;
    display: block;
    font-weight: 100;
}
.timeline .event time b { font-weight: 900; }

.timeline .event aside svg {
    width: 3rem;
    height: 3rem;
}

/* Primary Cases: Orientation */
.timeline .event:nth-child(2n+1) {
    align-self: flex-start;
    margin-left: calc(50% + 2rem);
}
.timeline .event:nth-child(2n+1)::before,
.timeline .event:nth-child(2n+1)::after { right: 100%; }
.timeline .event:nth-child(2n+1)::before {
    border-right-color: rgba(0, 0, 0, 0.4);
}
.timeline .event:nth-child(2n) {
    align-self: flex-end;
    margin-right: calc(50% + 2rem);
}
.timeline .event:nth-child(2n)::before,
.timeline .event:nth-child(2n)::after { left: 100%; }
.timeline .event:nth-child(2n)::before {
    border-left-color: rgba(0, 0, 0, 0.4);
}

/* Secondary Cases: Yellow Time Block Orientation */
.timeline .event:nth-child(4n+0) aside,
.timeline .event:nth-child(4n+1) aside {
    order: -1;
}
.timeline .event:nth-child(4n+2) aside,
.timeline .event:nth-child(4n+3) aside {
    order: 1;
}

/* Combined Cases: Pointer Color */
.timeline .event:nth-child(4n+1)::after {
    border-right-color: hsl(50, 80%, 60%);
}
.timeline .event:nth-child(4n+2)::after {
    border-left-color: hsl(50, 80%, 60%);
}
.timeline .event:nth-child(4n+3)::after {
    border-right-color: #ffffff;
}
.timeline .event:nth-child(4n+4)::after {
    border-left-color: #ffffff;
}
